import & setup cơ bản

In [2]:
import pandas as pd
pd.set_option('display.max_columns',500,'float_format', '{:,.2f}'.format) #hien het cac dong, format dau phay, 2 so 0
pd.set_option('display.max_rows', 500)

ĐỌC BÁO CÁO TỪ FILE CLEAN

In [3]:
path_bctc_clean_quarterly = '../../data/clean/vietstock_data/bctc_hsx_hnx_upcom/quarterly/'
file_BCTC = path_bctc_clean_quarterly + 'BCTC_quarterly.xlsx'
file_BCTC_none_bds_airline_bank = path_bctc_clean_quarterly + "BCTC_none_bds_airline_bank_quarterly.xlsx"
BCTC = pd.read_excel(file_BCTC,sheet_name=0, header=0)
BCTC_none_bds_airline_bank = pd.read_excel(file_BCTC_none_bds_airline_bank,sheet_name=0, header=0)

Trả lời câu hỏi diễn biến lợi nhuận của toàn thị trường

In [4]:
BCTC.groupby(['Year_Q'])[["1. Owner's capital ",'15. Profit before tax (50=30+40+41)','18. Net profit after tax  (60 = 50 - 51 - 52)']].sum()

,1. Owner's capital,15. Profit before tax (50=30+40+41),18. Net profit after tax (60 = 50 - 51 - 52)
Year_Q,,,
2022Q1,"1,825,124,966,378,724.00",167262839443628,137226872075364
2022Q2,"1,877,735,420,774,621.00",161068144538761,131066013242561
2022Q3,"1,925,001,723,216,154.00",147127017024150,113163186994761
2022Q4,"1,986,116,215,655,189.00",111613984695822,82437492201068
2023Q1,"1,984,567,307,307,387.00",140243944355003,108922405390016
2023Q2,"2,009,076,065,073,154.00",144437939945698,112882152640934
2023Q3,"2,070,503,788,663,954.00",138593566886196,107041136654780
2023Q4,"2,129,959,464,807,399.00",141766043990823,112748459352408
2024Q1,"2,129,061,292,313,091.00",145179102049220,116078602526532

In [11]:
BCTC['Market_cap'] = BCTC["1. Owner's capital "]*BCTC['Close Price End of period']/10000
Exchange_BCTC = BCTC.groupby(['Exchange','Year_Q'])[["1. Owner's capital ",'15. Profit before tax (50=30+40+41)','18. Net profit after tax  (60 = 50 - 51 - 52)','Market_cap']].sum()
Exchange_BCTC['EPS'] = Exchange_BCTC['18. Net profit after tax  (60 = 50 - 51 - 52)']/(Exchange_BCTC["1. Owner's capital "]/10000)
Exchange_BCTC['PE_quarter'] = Exchange_BCTC['Market_cap']/(Exchange_BCTC['18. Net profit after tax  (60 = 50 - 51 - 52)'])
Exchange_BCTC['Rolling_Profit_4Q'] = Exchange_BCTC.groupby('Exchange')['18. Net profit after tax  (60 = 50 - 51 - 52)'].rolling(4).sum().reset_index(level=0, drop=True)
Exchange_BCTC['Rolling_EPS_4Q'] = Exchange_BCTC.groupby('Exchange')['EPS'].rolling(4).sum().reset_index(level=0, drop=True)
Exchange_BCTC['Rolling_PE_4Q'] = Exchange_BCTC['Market_cap']/Exchange_BCTC['Rolling_Profit_4Q']
Exchange_BCTC

                     1. Owner's capital   15. Profit before tax (50=30+40+41)  \
Exchange Year_Q
HNX      2022Q1   128,555,038,621,729.00                        7216462299893
         2022Q2   133,421,873,420,000.00                        6455456774879
         2022Q3   140,022,487,073,000.00                        4613336530290
         2022Q4   143,267,213,799,157.00                        5828427622700
         2023Q1   143,217,787,910,000.00                        4874058245684
         2023Q2   143,820,079,380,000.00                        6218255708156
         2023Q3   156,048,368,050,800.00                        4626003397309
         2023Q4   157,762,416,520,800.00                        6641833958970
         2024Q1   158,308,247,459,502.00                        7008886959760
HOSE     2022Q1 1,267,898,611,797,831.00                      138514978954291
         2022Q2 1,316,166,288,767,831.00                      120945237565462
         2022Q3 1,355,044,061,087,831.00                      125237179448302
         2022Q4 1,415,118,821,024,242.00                       93184148115606
         2023Q1 1,419,779,487,537,832.00                      118101679784116
         2023Q2 1,439,327,682,987,831.00                      121143043023949
         2023Q3 1,480,434,640,577,831.00                      112282181768887
         2023Q4 1,530,523,486,917,810.00                      113895408730510
         2024Q1 1,529,944,975,677,831.00                      119212152881205
UPCOM    2022Q1   428,671,315,959,164.00                       21531398189444
         2022Q2   428,147,258,586,790.00                       33667450198420
         2022Q3   429,935,175,055,323.00                       17276501045558
         2022Q4   427,730,180,831,790.00                       12601408957516
         2023Q1   421,570,031,859,555.00                       17268206325203
         2023Q2   425,928,302,705,323.00                       17076641213593
         2023Q3   434,020,780,035,323.00                       21685381720000
         2023Q4   441,673,561,368,789.00                       21228801301343
         2024Q1   440,808,069,175,758.00                       18958062208255

                 18. Net profit after tax  (60 = 50 - 51 - 52)  \
Exchange Year_Q
HNX      2022Q1                                  5892197558340
         2022Q2                                  4987073425321
         2022Q3                                  3591938504891
         2022Q4                                  4616916590210
         2023Q1                                  3949779830341
         2023Q2                                  5025517380242
         2023Q3                                  3635830911677
         2023Q4                                  5245718574556
         2024Q1                                  5661614591440
HOSE     2022Q1                                112658969277805
         2022Q2                                 97013196122489
         2022Q3                                 95468439338386
         2022Q4                                 67803805330844
         2023Q1                                 90942636361885
         2023Q2                                 94241207597476
         2023Q3                                 85648383543982
         2023Q4                                 90247432431749
         2024Q1                                 95217977384358
UPCOM    2022Q1                                 18675705239219
         2022Q2                                 29065743694751
         2022Q3                                 14102809151484
         2022Q4                                 10016770280014
         2023Q1                                 14029989197790
         2023Q2                                 13615427663216
         2023Q3                                 17756922199121
         2023Q4                                 17255308346103
         2024Q1                                 15199010550734

                              Market_cap    EPS  PE_quarter  \
Exchange Year_Q
HNX      2022Q1   486,698,411,161,380.44 458.34       82.60
         2022Q2   318,535,218,813,700.00 373.78       63.87
         2022Q3   300,737,746,490,120.00 256.53       83.73
         2022Q4   257,290,543,134,216.31 322.26       55.73
         2023Q1   257,339,689,072,700.00 275.79       65.15
         2023Q2   281,568,326,438,000.00 349.43       56.03
         2023Q3   314,131,136,703,272.00 232.99       86.40
         2023Q4   308,182,301,283,744.00 332.51       58.75
         2024Q1   340,278,832,233,787.06 357.63       60.10
HOSE     2022Q1 5,915,742,272,156,033.00 888.55       52.51
         2022Q2 4,735,739,651,208,354.00 737.09       48.82
         2022Q3 4,468,970,418,559,226.00 704.54       46.81
         2022Q4 4,032,485,876,021,359.00 479.14       59.47
         2023Q1 4,276,289,689,427,550.00 640.54       47.02
         2023Q2 4,490,020,027,438,192.50 654.76       47.64
         2023Q3 4,544,506,943,598,203.00 578.54       53.06
         2023Q4 4,571,020,559,056,359.00 589.65       50.65
         2024Q1 5,159,205,607,361,396.00 622.36       54.18
UPCOM    2022Q1 1,384,437,590,900,870.00 435.66       74.13
         2022Q2 1,093,589,399,727,337.12 678.87       37.62
         2022Q3 1,046,584,609,502,871.75 328.02       74.21
         2022Q4   891,320,574,266,839.88 234.18       88.98
         2023Q1   912,691,132,114,026.00 332.80       65.05
         2023Q2   946,385,707,862,938.88 319.66       69.51
         2023Q3 1,009,082,307,583,312.12 409.13       56.83
         2023Q4   995,539,481,135,611.38 390.68       57.69
         2024Q1 1,538,847,290,142,386.00 344.80      101.25

                     Rolling_Profit_4Q  Rolling_EPS_4Q  Rolling_PE_4Q
Exchange Year_Q
HNX      2022Q1                    NaN             NaN            NaN
         2022Q2                    NaN             NaN            NaN
         2022Q3                    NaN             NaN            NaN
         2022Q4  19,088,126,078,762.00        1,410.91          13.48
         2023Q1  17,145,708,350,763.00        1,228.36          15.01
         2023Q2  17,184,152,305,684.00        1,204.00          16.39
         2023Q3  17,228,044,712,470.00        1,180.47          18.23
         2023Q4  17,856,846,696,816.00        1,190.72          17.26
         2024Q1  19,568,681,457,915.00        1,272.56          17.39
HOSE     2022Q1                    NaN             NaN            NaN
         2022Q2                    NaN             NaN            NaN
         2022Q3                    NaN             NaN            NaN
         2022Q4 372,944,410,069,524.00        2,809.32          10.81
         2023Q1 351,228,077,153,604.00        2,561.31          12.18
         2023Q2 348,456,088,628,591.00        2,478.98          12.89
         2023Q3 338,636,032,834,187.00        2,352.97          13.42
         2023Q4 361,079,659,935,092.00        2,463.49          12.66
         2024Q1 365,355,000,957,565.00        2,445.31          14.12
UPCOM    2022Q1                    NaN             NaN            NaN
         2022Q2                    NaN             NaN            NaN
         2022Q3                    NaN             NaN            NaN
         2022Q4  71,861,028,365,468.00        1,676.74          12.40
         2023Q1  67,215,312,324,039.00        1,573.88          13.58
         2023Q2  51,764,996,292,504.00        1,214.67          18.28
         2023Q3  55,419,109,340,141.00        1,295.78          18.21
         2023Q4  62,657,647,406,230.00        1,452.27          15.89
         2024Q1  63,826,668,759,174.00        1,464.27          24.11

In [6]:
BCTC_none_bds_airline_bank.groupby(['Year_Q'])[['3. Net revenue  (10 = 01 - 03)','7. Financial expenses','15. Profit before tax (50=30+40+41)','18. Net profit after tax  (60 = 50 - 51 - 52)']].sum()

,3. Net revenue (10 = 01 - 03),7. Financial expenses,15. Profit before tax (50=30+40+41),18. Net profit after tax (60 = 50 - 51 - 52)
Year_Q,,,,
2022Q1,"847,291,776,009,728.00","19,425,089,156,368.00",89177358368257,76129146345684
2022Q2,"939,673,338,985,084.00","29,026,362,376,851.00",91260665285704,77696068055007
2022Q3,"869,264,375,659,732.00","25,713,926,330,826.00",60229175064032,49168843970390
2022Q4,"900,545,391,900,858.00","30,219,441,806,485.00",42969353178014,33253131889999
2023Q1,"760,895,622,089,080.00","26,261,006,898,637.00",51921923728190,41993730747186
2023Q2,"824,198,583,381,975.00","27,441,765,103,855.00",63469768902973,51424871934421
2023Q3,"824,942,213,400,334.00","28,550,839,605,964.00",58743101147702,47799226608045
2023Q4,"904,422,583,020,785.00","24,831,147,795,037.00",65684572896851,53702294071763
2024Q1,"811,814,775,333,555.00","22,643,077,353,688.00",61699831805790,50179206347350

TRẢ LỜI CHO CÂU HỎI THỊ TRƯỜNG NONE BANK, REAL ESTATE, AIRLINE

In [7]:
BCTC_none_bds_airline_bank['Market_cap'] = BCTC_none_bds_airline_bank["1. Owner's capital "]*BCTC_none_bds_airline_bank['Close Price End of period']/10000
Exchange_BCTC_None = BCTC_none_bds_airline_bank.groupby(['Exchange','Year_Q'])[["1. Owner's capital ",'15. Profit before tax (50=30+40+41)','18. Net profit after tax  (60 = 50 - 51 - 52)','Market_cap']].sum()
Exchange_BCTC_None['EPS'] = Exchange_BCTC_None['18. Net profit after tax  (60 = 50 - 51 - 52)']/(Exchange_BCTC_None["1. Owner's capital "]/10000)
Exchange_BCTC_None['PE_quarter'] = Exchange_BCTC_None['Market_cap']/(Exchange_BCTC_None['18. Net profit after tax  (60 = 50 - 51 - 52)'])
Exchange_BCTC_None['Rolling_Profit_4Q'] = Exchange_BCTC_None.groupby('Exchange')['18. Net profit after tax  (60 = 50 - 51 - 52)'].rolling(4).sum().reset_index(level=0, drop=True)
Exchange_BCTC_None['Rolling_PE_4Q'] = Exchange_BCTC_None['Market_cap']/Exchange_BCTC_None['Rolling_Profit_4Q']
Exchange_BCTC_None

                   1. Owner's capital   15. Profit before tax (50=30+40+41)  \
Exchange Year_Q
HNX      2022Q1 105,335,176,751,729.00                        6389822041105
         2022Q2 110,189,413,710,000.00                        5935969447795
         2022Q3 113,873,299,683,000.00                        3945718110029
         2022Q4 116,667,176,369,157.00                        4730394378746
         2023Q1 116,612,815,480,000.00                        3973999751578
         2023Q2 116,958,494,160,000.00                        5778446541233
         2023Q3 126,498,148,980,800.00                        4557702736450
         2023Q4 127,667,388,400,800.00                        6070205864193
         2024Q1 127,588,149,339,502.00                        6019668604062
HOSE     2022Q1 604,995,284,427,831.00                       62772843112644
         2022Q2 641,560,868,877,831.00                       53969077587260
         2022Q3 668,523,454,007,831.00                       39632040427860
         2022Q4 679,201,181,344,242.00                       26759849532525
         2023Q1 680,913,275,937,831.00                       32904358595207
         2023Q2 684,545,758,117,831.00                       42500444494145
         2023Q3 690,846,242,277,831.00                       33758122120781
         2023Q4 696,751,293,417,810.00                       40427996105737
         2024Q1 700,121,501,957,831.00                       38293818643019
UPCOM    2022Q1 374,785,650,749,164.00                       20014693214508
         2022Q2 375,161,593,376,790.00                       31355618250649
         2022Q3 375,967,609,925,323.00                       16651416526143
         2022Q4 380,849,093,771,790.00                       11479109266743
         2023Q1 374,688,944,799,555.00                       15043565381405
         2023Q2 377,243,324,935,323.00                       15190877867595
         2023Q3 380,711,233,115,323.00                       20427276290471
         2023Q4 385,394,014,448,789.00                       19186370926921
         2024Q1 383,328,522,255,758.00                       17386344558709

                 18. Net profit after tax  (60 = 50 - 51 - 52)  \
Exchange Year_Q
HNX      2022Q1                                  5245281254439
         2022Q2                                  4674122351767
         2022Q3                                  3114635434624
         2022Q4                                  3704691778070
         2023Q1                                  3235269975397
         2023Q2                                  4677081126313
         2023Q3                                  3631235331801
         2023Q4                                  4905228334742
         2024Q1                                  4888078777252
HOSE     2022Q1                                 53434803516175
         2022Q2                                 45621722864531
         2022Q3                                 32296057766027
         2022Q4                                 20414466494689
         2023Q1                                 26557985588495
         2023Q2                                 34606561258058
         2023Q3                                 27350510728231
         2023Q4                                 33161176427397
         2024Q1                                 31349059026719
UPCOM    2022Q1                                 17449061575070
         2022Q2                                 27400222838709
         2022Q3                                 13758150769739
         2022Q4                                  9133973617240
         2023Q1                                 12200475183294
         2023Q2                                 12141229550050
         2023Q3                                 16817480548013
         2023Q4                                 15635889309624
         2024Q1                                 13942068543379

                              Market_cap    EPS  PE_quarter  \
Exchange Year_Q
HNX      2022Q1   376,877,998,767,880.44 497.96       71.85
         2022Q2   246,270,043,590,600.00 424.19       52.69
         2022Q3   233,726,898,072,520.00 273.52       75.04
         2022Q4   199,592,990,200,116.31 317.54       53.88
         2023Q1   209,702,735,732,000.00 277.44       64.82
         2023Q2   231,817,650,472,700.00 399.89       49.56
         2023Q3   261,487,588,717,972.00 287.06       72.01
         2023Q4   256,256,015,490,544.00 384.22       52.24
         2024Q1   289,286,708,113,387.06 383.11       59.18
HOSE     2022Q1 2,832,080,677,631,083.50 883.23       53.00
         2022Q2 2,293,002,768,085,354.00 711.11       50.26
         2022Q3 2,250,879,734,239,075.75 483.10       69.70
         2022Q4 1,945,906,960,388,699.00 300.57       95.32
         2023Q1 2,011,075,916,432,524.50 390.03       75.72
         2023Q2 2,139,669,892,911,322.50 505.54       61.83
         2023Q3 2,181,264,144,271,473.25 395.90       79.75
         2023Q4 2,182,541,172,949,588.75 475.94       65.82
         2024Q1 2,518,196,402,474,846.50 447.77       80.33
UPCOM    2022Q1 1,236,752,437,766,570.00 465.57       70.88
         2022Q2   991,287,437,411,587.12 730.36       36.18
         2022Q3   946,609,977,678,381.75 365.94       68.80
         2022Q4   814,808,883,784,439.88 239.83       89.21
         2023Q1   838,100,172,072,026.00 325.62       68.69
         2023Q2   864,199,514,472,838.88 321.84       71.18
         2023Q3   924,306,223,439,512.12 441.74       54.96
         2023Q4   909,069,184,235,011.38 405.71       58.14
         2024Q1 1,438,618,082,625,586.00 363.71      103.19

                     Rolling_Profit_4Q  Rolling_PE_4Q
Exchange Year_Q
HNX      2022Q1                    NaN            NaN
         2022Q2                    NaN            NaN
         2022Q3                    NaN            NaN
         2022Q4  16,738,730,818,900.00          11.92
         2023Q1  14,728,719,539,858.00          14.24
         2023Q2  14,731,678,314,404.00          15.74
         2023Q3  15,248,278,211,581.00          17.15
         2023Q4  16,448,814,768,253.00          15.58
         2024Q1  18,101,623,570,108.00          15.98
HOSE     2022Q1                    NaN            NaN
         2022Q2                    NaN            NaN
         2022Q3                    NaN            NaN
         2022Q4 151,767,050,641,422.00          12.82
         2023Q1 124,890,232,713,742.00          16.10
         2023Q2 113,875,071,107,269.00          18.79
         2023Q3 108,929,524,069,473.00          20.02
         2023Q4 121,676,234,002,181.00          17.94
         2024Q1 126,467,307,440,405.00          19.91
UPCOM    2022Q1                    NaN            NaN
         2022Q2                    NaN            NaN
         2022Q3                    NaN            NaN
         2022Q4  67,741,408,800,758.00          12.03
         2023Q1  62,492,822,408,982.00          13.41
         2023Q2  47,233,829,120,323.00          18.30
         2023Q3  50,293,158,898,597.00          18.38
         2023Q4  56,795,074,590,981.00          16.01
         2024Q1  58,536,667,951,066.00          24.58

ĐÁNH GIÁ PE THEO NGÀNH

In [8]:
Sector_BCTC = BCTC.groupby(['Sector (NAICS) Level 3','Year_Q'])[["1. Owner's capital ",'15. Profit before tax (50=30+40+41)','18. Net profit after tax  (60 = 50 - 51 - 52)','Market_cap']].sum()
Sector_BCTC['EPS'] = Sector_BCTC['18. Net profit after tax  (60 = 50 - 51 - 52)']/(Sector_BCTC["1. Owner's capital "]/10000)
Sector_BCTC['PE_quarter'] = Sector_BCTC['Market_cap']/(Sector_BCTC['18. Net profit after tax  (60 = 50 - 51 - 52)'])
Sector_BCTC['Rolling_Profit_4Q'] = Sector_BCTC.groupby('Sector (NAICS) Level 3')['18. Net profit after tax  (60 = 50 - 51 - 52)'].rolling(4).sum().reset_index(level=0, drop=True)
Sector_BCTC['Rolling_PE_4Q'] = Sector_BCTC['Market_cap']/Sector_BCTC['Rolling_Profit_4Q']
Sector_BCTC

                                                            1. Owner's capital   \
Sector (NAICS) Level 3                             Year_Q
Activities Related to Real Estate                  2022Q1 14,005,665,750,000.00
                                                   2022Q2 15,025,578,580,000.00
                                                   2022Q3 15,083,437,120,000.00
                                                   2022Q4 15,411,034,970,000.00
                                                   2023Q1 15,187,912,550,000.00
...                                                                         ...
Wireless Telecommunications Carriers (except Sa... 2023Q1 30,438,112,000,000.00
                                                   2023Q2 30,438,112,000,000.00
                                                   2023Q3 30,438,112,000,000.00
                                                   2023Q4 30,438,112,000,000.00
                                                   2024Q1 30,438,112,000,000.00

                                                           15. Profit before tax (50=30+40+41)  \
Sector (NAICS) Level 3                             Year_Q
Activities Related to Real Estate                  2022Q1                         241440400581
                                                   2022Q2                         226631986546
                                                   2022Q3                         164144090850
                                                   2022Q4                          11860550065
                                                   2023Q1                          75557593888
...                                                                                        ...
Wireless Telecommunications Carriers (except Sa... 2023Q1                         987618844245
                                                   2023Q2                        -800668712315
                                                   2023Q3                        2109539184933
                                                   2023Q4                        1296901721292
                                                   2024Q1                        2479146715769

                                                           18. Net profit after tax  (60 = 50 - 51 - 52)  \
Sector (NAICS) Level 3                             Year_Q
Activities Related to Real Estate                  2022Q1                                   179335515467
                                                   2022Q2                                   183329610613
                                                   2022Q3                                   120065494653
                                                   2022Q4                                   -17576508434
                                                   2023Q1                                    43988286723
...                                                                                                  ...
Wireless Telecommunications Carriers (except Sa... 2023Q1                                   594542412778
                                                   2023Q2                                 -1219197126097
                                                   2023Q3                                  1409588119101
                                                   2023Q4                                   700678561840
                                                   2024Q1                                  1633493358641

                                                                      Market_cap  \
Sector (NAICS) Level 3                             Year_Q
Activities Related to Real Estate                  2022Q1  28,438,726,513,550.00
                                                   2022Q2  19,139,215,840,190.00
                                                   2022Q3  18,925,332,527,720.00
                                                   2022Q4  15,657,325,886,100.00
                                                   2023Q1  15,589,898,713,810.00
...                                                                          ...
Wireless Telecommunications Carriers (except Sa... 2023Q1  64,833,178,560,000.00
                                                   2023Q2  71,225,182,080,000.00
                                                   2023Q3  70,312,038,720,000.00
                                                   2023Q4  78,530,328,960,000.00
                                                   2024Q1 272,421,102,400,000.00

                                                              EPS  PE_quarter  \
Sector (NAICS) Level 3                             Year_Q
Activities Related to Real Estate                  2022Q1  128.04      158.58
                                                   2022Q2  122.01      104.40
                                                   2022Q3   79.60      157.63
                                                   2022Q4  -11.41     -890.81
                                                   2023Q1   28.96      354.41
...                                                           ...         ...
Wireless Telecommunications Carriers (except Sa... 2023Q1  195.33      109.05
                                                   2023Q2 -400.55      -58.42
                                                   2023Q3  463.10       49.88
                                                   2023Q4  230.20      112.08
                                                   2024Q1  536.66      166.77

                                                              Rolling_Profit_4Q  \
Sector (NAICS) Level 3                             Year_Q
Activities Related to Real Estate                  2022Q1                   NaN
                                                   2022Q2                   NaN
                                                   2022Q3                   NaN
                                                   2022Q4    465,154,112,299.00
                                                   2023Q1    329,806,883,555.00
...                                                                         ...
Wireless Telecommunications Carriers (except Sa... 2023Q1    736,592,008,365.00
                                                   2023Q2 -1,595,666,442,945.00
                                                   2023Q3 -1,937,047,974,843.00
                                                   2023Q4  1,485,611,967,622.00
                                                   2024Q1  2,524,562,913,485.00

                                                           Rolling_PE_4Q
Sector (NAICS) Level 3                             Year_Q
Activities Related to Real Estate                  2022Q1            NaN
                                                   2022Q2            NaN
                                                   2022Q3            NaN
                                                   2022Q4          33.66
                                                   2023Q1          47.27
...                                                                  ...
Wireless Telecommunications Carriers (except Sa... 2023Q1          88.02
                                                   2023Q2         -44.64
                                                   2023Q3         -36.30
                                                   2023Q4          52.86
                                                   2024Q1         107.91

[1459 rows x 8 columns]